body {
  font-family: 'Open Sans', sans-serif;
  background: #e6feff;
  color: #444;
}

#header {
  box-shadow: -1px 2px 5px #999;
  background: #006064;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 45px;
}

.callout {
  margin-top: 10px;
  font-size: 7.5em;
  text-align: center;
  border-bottom: 1px solid #666;
}

.content {

}

.gallery {
  display: inline-block;

  .image-wrap {
    display: inline-block;
    min-width: 224px;
    border: 1px solid #ddd;
    min-height: 324px;
    overflow: hidden;
    margin: 15px;
    padding: 11px;
    background-color: whitesmoke;
  }
}

.new img {
  height: 82px;
  padding-bottom: 14px;
}

.modal-title {
  font-size: 3em;
}

.modal-body {
  input, textarea {
    border: 1px solid #ccc;
    padding: 6px;
    width: 99%;
    font-size: 2em;
    margin-bottom: 10px;
  }

  input.file {
    border: none;
  }

  textarea {
    height: 100px;
  }
}
