body {
  font-family: 'Open Sans', sans-serif;
  background: #e6feff;
}

#header {
  box-shadow: -1px 2px 5px #999;
  background: #006064;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 45px;
}

.callout {
  margin-top: 30px;
  font-size: 7.5em;
  text-align: center;
  border-bottom: 1px solid black;
}

.content {

}

.gallery {
  display: inline-block;

  img {
    border: 1px solid black;
    margin: 29px;
    padding: 11px;
    background-color: whitesmoke;
  }
}
